{% extends "recepti/base.html" %}

{% block content %}

    <main role="main" class="container">
        <article class="media content-section">
            <div class="media-body">
            <h1>O nama</h1>
            <p class="article-content">
                Prirodoslovno-matematički fakultet u Splitu<br>
                Preddiplomski studij Informatika<br>
                Uvod u programsko inženjerstvo<br>
                A.Budic, J.Juricic<br>
                2019/2020.
            </p>
            </div>
        </article>
    </main>
    
{% endblock content %}