{% extends "recepti/base.html" %}
{%  load bootstrap %}
{% block content %}
<!--
<form method="GET"> 
  {{ filter.form|bootstrap }}
  <button type="submit" class="btn btn-primary">Traži</button>
</form>-->
    {% for post in posts %}
        <article class="media content-section">
          <!--<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
          <img class="rounded-circle article-img" src="{{ post.autor.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.autor.username %}">{{ post.autor }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              <small class="">{{ post.comments.count }}</small>  <i class="fa fa-comment"></i>
              <small>0</small>  <i class="fa fa-heart"></i><br>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.naslov }}</a></h2>
            <p class="article-content">{{ post.sazetak }}</p>
            <a href="{% url 'post-detail' post.id %}" class="article-title">Pročitajte više <i class="fa fa-angle-double-right"></i></a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">Prva</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Sljedeća</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Posljednja</a>
      {% endif %}

    {% endif %}
{% endblock content %}