{% extends "recepti/base.html" %}
{% block content %}

  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.autor.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.autor.username %}">{{ object.autor }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        <small class="">{{ object.comments.count }}</small>  <i class="fa fa-comment"></i>
        <small>0</small>  <i class="fa fa-heart"></i><br>
          
        {% if object.autor == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Ažuriraj</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Obriši</a>
          </div>
        {% endif %}
      </div>

      <h2 class="article-title">{{ object.naslov }}</h2>
      <p class="article-title">{{ object.sazetak }}</p>
      <img height="100%" width="100%" src="{{ object.slika.url }}">
      <p class="article-content">{{ object.sadrzaj }}</p>
      <div class="btn-group" role="group" aria-label="Basic example">
          <a href="#" class="nav-item nav-link"><button type="button" class="btn btn-secondary">Sviđa mi se</button></a>
          <a class="nav-item nav-link" href="{% url 'post-comment' object.id %}">Novi komentar</a>
        </div>
      <!--
      <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> 
      {{object.likes}}   |   <a href="#" onClick="document.getElementById('dislikebutton').submit()">Dislike This Post</a> {{object.dislikes}}

        <form id="likebutton" method="POST" action="{{ object.id }}/preference/1/">
        {% csrf_token %}
        <input type="hidden">
        </form>
        
        <form id="dislikebutton" method="POST" action="{{ object.id }}/preference/2/">
        {% csrf_token %}
        <input type="hidden">
        </form>  -->
        
        <hr>
        {% for comment in object.comments.all %}

        <h4>{{ comment.user }}</h4><h6>{{ comment.created }}</h6>
        <p>{{ comment.content }}</p>

        {% if comment.user == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-comment-update' comment.id %}">Uredi</a>
          </div>
        {% endif %}

        {% if comment.user == user or object.autor == user %}
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-comment-delete' comment.id %}">Ukloni</a>
        {% endif %}

        {% empty %}
        <p> Nema komentara</p>
        {% endfor %}
    </div>
  </article>

{% endblock content %}