body { 
    
    color: #333333;
    margin-top: 5rem;

  }
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
 
ul {
    margin: 0;  
}  
.bg-steel {
    background-color: #775f8a;  
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    }

.site-header .navbar-nav .nav-link.active {  
    font-weight: 500;
  }
  .content-section {

    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
  
    border: 1px solid #dddddd;
  
    border-radius: 3px;
  
    margin-bottom: 20px;
  
  }
  .article-title {
  
    color: #444444;
  
  }
  
  a.article-title:hover {
  
    color: #428bca;
  
    text-decoration: none;
  
  }
  .article-content {
  
    white-space: pre-line;
  
  }
  .article-img {
  
    height: 65px;
  
    width: 65px;
  
    margin-right: 16px;
  
  }
  .article-metadata {
  
    padding-bottom: 1px;
  
    margin-bottom: 4px;
  
    border-bottom: 1px solid #e3e3e3
  
  }
  .article-metadata a:hover {

    color: #333;
  
    text-decoration: none;
  
  }
  
  
  
  .article-svg {
  
    width: 25px;
  
    height: 25px;
  
    vertical-align: middle;
  
  }

 
  .account-img {
  
    height: 125px;
  
    width: 125px;
  
    margin-right: 20px;
  
    margin-bottom: 16px;
  
  }
  
  
  
  .account-heading {
  
    font-size: 2.5rem;
  
  }


  /*za search box*/
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box; 
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #775f8a;
    
    -webkit-box-shadow: 0 0 5px rgba(163,120,189,.5);
    -moz-box-shadow: 0 0 5px rgba(163,120,189,.5);
    box-shadow: 0 0 5px rgba(163,120,189,.5);
  }
  
  
  input:-moz-placeholder {
    color: #999;
  }
  input::-webkit-input-placeholder {
    color: #999;
  }